// Base
$base-font-size: 16px;
$base-line-height: 24px;
$rembase: 16;
$lineheight: 24;

// Breakpoints: @include media ($breakpoint)
$mobile: new-breakpoint(max-width 480px 4);
$ipad: new-breakpoint(max-width 768px 12);

$tablet: new-breakpoint(min-width 800px 12);
$desktop: new-breakpoint(min-width 1024px 12);

/* ***********
 * Colors
**************/
$primary: #DD8F56; // orange
$secondary: #6299DA; // blue
$text: #444444; // black
$background: #F9F9F9; // 
$detail: #B9BCBF;
$header_bg: #422D0F;

/* ***************
 * Header Sizes
******************/

$h1_size: 30; // 24pt
$h2_size: 28; // 22pt
$h3_size: 24; // 20pt
$h4_size: 20; // 18pt
$h5_size: 18; // 18pt
$h6_size: 18; // 18pt