.tribe-events-before-html {
  @include media($tablet) {
    width: 65.812%;
  }
}

#rpwe_widget-2 {
  padding: 1em;
}

.events-archive #breadcrumbs br {
  display: none;
}

// One Column Testimonials 

@include media($tablet) {
  #post-670 .builder-text-columns-1 .builder-text-column {
    width: 70%;
    margin: 0px auto;
    float: none;
  }
}