// HTML
//   Font-face
//   Typography
//   Element Styles

h1, h2, h3, h4, h5, h6 {
  a {
    color: $primary !important;
  }
}

.menu-toggle {
  background-color: #DD8F56;
}

blockquote {
  position: relative;
  border: 1px dashed $detail;
  padding: 1.4em 1.4em 0;
  margin: 0 auto 1em auto;
  p {
    font-size: inherit;
  }

  &:before {
    position: absolute;
    font-family: FontAwesome;
    top:-20px;
    left:-25px;
    content: "\f10d";
    font-size: 2.5em;
  }
  &:after {
    position: absolute;
    font-family: FontAwesome;
    bottom:-20px;
    right:-25px;
    content: "\f10e";
    font-size: 2.5em;
    
  }  
}

.builder-text-columns-2 {
  blockquote {
    &:before{
      content:"";
    }
    &:after{
      content:"";
    }
  }
}
a {
  font-weight: normal;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  font-size: 0.9em !important;
}

