// HTML
//   Font-face
//   Typography
//   Element Styles

h1, h2, h3, h4, h5, h6 {
  a {
    color: $primary !important;
  }
}

.menu-toggle {
  background-color: #DD8F56;
}

blockquote {
  border: 1px dashed $detail;
  padding: 1.4em 1.4em 0;
  margin: 0 auto 1em auto;
  p {
    font-size: inherit;
  }  
}




