.category-work {

  .entry-content {
    font-size: 0.9em;
  }
  .entry-footer {
    clear: both;
  }

  .entry-date {
    display: block;
    margin-bottom: 5px;
  }
}

.single-post {
  .post {
    border-bottom: none;
  }
}